@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
	}
}

.App {
  text-align: center;
}

.po_header {
  color: #033B5C;
  display: inline;
  width: 25%;
  font-size: 2em;
  letter-spacing: -2px;
  font-weight: 100;
  height: 45px;
  width:45px;

}

.App-header {
  height: 65px;
  padding: 20px;
  color: inherit;
}

a, a:hover {
  color: #033B5C;
  text-decoration: none;
}

li {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
  margin-right: 40px;
  color: #033B5C;
}

li:last-child {
  width: 50px;
  margin-right: 20px;
}

li:after {
	content: '';
	display: block;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease, margin-right .5s ease;
}

li:hover:after {
	width: 100%;
	background: lightgray;
  margin-right: 70px;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.section_one_body {
  display: grid;
  padding: 40px;
  margin: 80px;
}

button {
  width: 200px;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 100;
  border: none;
  border-radius: 30px;
  text-align: center;
  outline: none;
}

.watch_demo_button {
  background-color: #3dd85a;
  color: white;
  box-shadow: 10px 10px 5px lightgray;
  margin-right:20px;
  margin-left: -60px;
  transition: background-color ease-in .5s, width linear .1s, height linear .1s;
}

.watch_demo_button.modal {
  margin: 10px 120px 20px 120px;
}

.watch_demo_button:hover {
  width: 230px;
  height: 50px;
  background-color: white;
  color: #3DD85A;
  border: 1px solid #3dd85a;
  /*margin-top: -20px;*/
}

.learn_more_button {
  background-color: #ffffff;
  border: 1px solid #033B5C;
  color: #033B5C;
  transition: background-color ease-in .5s, width linear .1s, height linear .1s;
}

.learn_more_button:hover {
  width: 230px;
  height: 50px;
  background-color: #033B5C;
  color: white;
  box-shadow: 10px 10px 5px lightgray;
}

.learn_reviews_button {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #033B5C;
  color: #033B5C;
  transition: background-color ease-in .5s;
}

.learn_reviews_button:hover {
  background-color: #033B5C;
  color: white;
  box-shadow: 10px 10px 5px lightgray;
  animation: bounce 1s;
}

.modal_input_text {
  width: 300px;
  text-align: center;
  border-radius: 5px;
  border:none;
  color: lightgray;
  height: 30px;
}

.section_one_body {
  color: #033B5C;
  font-size: 2.5em;
  letter-spacing: -2px;
  font-weight: 100;
  text-align: left;
  line-height: 150%;
}

.section_one_body.part_two {
  color: #000;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 150;
  line-height: 200%;
  margin-top: -125px;
}

.close_icon {
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
  margin-top: -48px;
  margin-right: -50px;
  color: #ffffff;
  border-radius: 15px;
  transition: width linear .2s, height linear .2s;
}
.close_icon:hover {
  height: 35px;
  width: 35px;
  animation: bounce 1s;
}
